<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="currentUser">
  <a class="navbar-brand" href="/AddUser">
Demo App
 </a>

  <button class="navbar-toggler" type="button"
          (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse"
       [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li><a href="/Dashboard">Home</a></li>
     <li><a class="clslogout" (click)="logout()">Logout</a></li>
    </ul>
  </div>
</nav>

<div style="text-align:center">
  <h3 *ngIf="currentUser">
    Welcome {{currentUser.Email}} 
  </h3>
  
 </div>

<router-outlet></router-outlet>
