.form-group-border
{
    border: 1px solid #3333;
    border-radius: 5px;
    padding: 5px;
    margin-left: 0px;
}
a {
    color: #0056b3 !important;
    cursor: pointer;
}
a:hover {
    color: #0056b3 !important;
    text-decoration: underline !important;
}